@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";
/*Components*/
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/badge.css";
@import "component/icon-row.css";
@import "component/screen-header.css";
@import "component/alt-screen-header.css";
@import "component/user-component.css";
@import "component/no-mobile.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,600;1,600&display=swap");
body {
  color: #2e363e;
  font-family: "Open Sans", serif;
  height: 1000vh;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}

.welcome-header {
  margin-top: 90px;
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 30px;
  font-size: 25px;
}
.welcome-header__text {
  width: 50%;
  opacity: 0.7;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
#login-form input ::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input[type="submit"] {
  background-color: rgb(245, 223, 28);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 15px;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}
